<footer class="footer" role="contentinfo" aria-label="Footer de la página" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="container">
        <div class="row g-4 align-items-start">

            <div class="col-md-4">
                <h5 class="footer-title">SOLEA</h5>
                <p class="footer-desc">Tu tienda de moda online. Calidad, estilo y confianza.</p>
            </div>

            <div class="col-md-4">
                <h6 class="footer-title">Navegación</h6>
                <ul class="list-unstyled footer-links">
                    <li><a class="footer-link text-decoration-none" th:href="@{/}">Inicio</a></li>
                    <li><a class="footer-link text-decoration-none" th:href="@{/catalogo}">Catálogo</a></li>
                    <li><a class="footer-link text-decoration-none" th:href="@{/nosotros}">Nosotros</a></li>
                    <li><a class="footer-link text-decoration-none" th:href="@{/contacto}">Contacto</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6 class="footer-title">Legal</h6>
                <ul class="list-unstyled footer-links">
                    <li><a class="footer-link text-decoration-none" th:href="@{/ayuda}">Ayuda</a></li>
                    <li><a class="footer-link text-decoration-none" th:href="@{/politicas}">Políticas</a></li>
                    <li><a class="footer-link text-decoration-none" th:href="@{/terminos}">Términos y Condiciones</a></li>
                </ul>
            </div>

        </div>

        <div class="text-center mt-4 copyright small">
            © [[${#dates.format(new java.util.Date(), 'yyyy')}]] SOLEA - Todos los derechos reservados.
        </div>
    </div>
</footer>
